NODE_ENV="development"
SITE_URL="https://anwarportfolio.vercel.app"
ANALYZE=false
MONGODB_URI="mongodb+srv://username:password@cluster0.yrm1z.mongodb.net/anwarportfolio?retryWrites=true&w=majority"
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=