NODE_ENV="development"
SITE_URL="https://anwarportfolio.vercel.app"
ANALYZE=false
MONGODB_URI="mongodb://localhost:27017/anwarportfolio"
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=