.blog_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .blog_header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .blog_header a {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for add button */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .blog_header a:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }
  
  .blog_header a:disabled {
    background-color: #6c757d; /* Gray color for disabled button */
    cursor: not-allowed;
  }
  
  .blog_header a:disabled:hover {
    opacity: 1; /* Keep opacity same on hover for disabled button */
  }


.blog-post-table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: transparent;
      font-weight: bold;
      text-align: left;
    }
  
    tr:hover {
      background-color: #bab1b1;
    }

    button.edit-btn {
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #28a745; /* Green color for edit button */
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    
      button.delete-btn {
        padding: 5px 10px;
        background-color: #dc3545; /* Red color for delete button */
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    
      button:hover {
        opacity: 0.8; /* Reduce opacity on hover for both buttons */
      }
  }
  