/* Dark mode styles */

.dark-mode {
  background-color: #1F2937;
  color: #f8f9fa;
}

.dark-mode .ql-toolbar {
  background-color: transparent;
}

.dark-mode .ql-container {
  background-color: transparent;
  color: #fff;
}

.dark-mode .ql-snow .ql-stroke {
  stroke: #fcf8f8;
}

.dark-mode .ql-snow .ql-picker {
  stroke: #fcf8f8;
  color: #fcf8f8;
}

.dark-mode .ql-snow .ql-fill,
.dark-mode .ql-snow .ql-stroke.ql-fill {
  stroke: #fcf8f8;
}
